<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 配置注解驱动-->
    <mvc:annotation-driven/>

    <!-- 加载注解驱动
         当配置了自定义转换器的时候，需要在annotation-driven中配置
         conversion-service的名称也就是配置转换器设置的名称后
         转换器才能生效
         或者不采取这种形式直接在日期字段中加@DateTimeFormat(pattern="yyyy-MM-dd")
    -->
    <!--<mvc:annotation-driven conversion-service="conversionService"/>
    &lt;!&ndash; 转换器配置 &ndash;&gt;
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.xiaojihua.converter.DataConverter"/>
            </set>
        </property>
    </bean>-->

    <!-- 配置包扫描-->
    <context:component-scan base-package="com.xiaojihua.controller"/>

    <!--  配置视图解析器的前缀和后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为5MB -->
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

    <!-- 自定义异常处理器-->
    <bean id="handlerExceptionResolver"
          class="com.xiaojihua.exception.CustomExceptionResolver"/>


    <!-- 配置springmvc静态资源访问
         因为前端控制器的映射路径为/可以过滤除jsp之外的所有资源，当然
         包括静态资源，这样前台页面控制台会报找不到相关资源，
         需要将静态资源剥离出来不走springmvc前端控制器。
    -->
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!-- 配置springmvc拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xiaojihua.interceptor.HandlerInterceptor1"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xiaojihua.interceptor.HandlerInterceptor2"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xiaojihua.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
